# Terraform
.terraform/
*.tfstate
*.tfstate.backup
terraform.tfvars

# Secrets & Certificates
**/certs/*.key
**/certs/*.crt
**/certs/*.srl
!**/certs/README.md
*.pem

# Generated VPN client profiles
*.ovpn

# Python
__pycache__/
*.pyc
.venv/
venv/
env/

# OS-specific
.DS_Store
